//=============================
/*Typography*/
/*Font, line-height, headings.*/
//=============================
$font-family: "Open Sans", "Arial", sans-serif;

//$font-size-h1: px;
//$font-size-h2: px;
//$font-size-h3: px;
//$font-size-h4: px;
//$font-size-h5: px;
//$font-size-h6: px;

//$font-size--xl-large: px;
//$font-size--x-large: px;
//$font-size--large: px;
//$font-size--larger: px;
$font-size: 16px;
//$font-size--smaller: px;
//$font-size--small: px;

$line-height: 1.5em;
$line-height-auto: 1.2em;

//================
/*Gray and brand colors*/
//================

//$color-main--lightest: ;
//$color-main--lighten: ;
//$color-main--light: ;
$color-main: #000000;
//$color-main--dark: ;
//$color-main--darken: ;
//$color-main--darkest: ;

//$color-second--lightest: ;
//$color-second--lighten: ;
//$color-second--light: ;
//$color-second: ;
//$color-second--dark: ;
//$color-second--darken: ;
//$color-main--darkest: ;

// $gray--lightest: ;
//$gray--lighten: ;
//$gray--light: ;
//$gray-base: ;
//$gray--dark: ;
//$gray--darken: ;
//$gray--darker: ;
//$gray--darkenest: ;
//$gray--darkest: ;

$text-color: #000000; // Global text color on <body>;

//=============================
//===Components===
//=============================
//$content-width: px;

//$padding-base-vertical: px;
//$padding-base-horizontal: px;

//$border-radius-base: px;

//=============================
//===Links====
//=============================
//$link-color: ;
///$link-color--hover: ;
//$link-color--focus: ;
//$link-color--active: ; //активная ссылка
//$link-color--down: ; //клик на ссылку

//$link-bg: ;
//$link-bg--hover: ;
//$link-bg--focus: ;
//$link-bg--active: ; //активная ссылка
//$link-bg--down: ; //клик на ссылку

//=============================
//===Buttons===
//=============================

//$btn-padding-vertical--large: px;
//$btn-padding-horizontal--large: px;
//$btn-padding-vertical: px;
//$btn-padding-horizontal: px;
//$btn-padding-vertical--small: px;
//$btn-padding-horizontal--small: px;

//$btn-font-size: px;
//$btn-line-height: em;
//$btn-font-wight: ;

// $btn-color: ;
// $btn-color--hover: ;
// $btn-color--active: ;

//$btn-border: ;

//$btn-bg: ;
//$btn-bg--hover: ;
//$btn-bg--active: ;

//$btn-border-radius-base: px;

//$btn-border-color-base: ;

//=============================
//===Slider====
//=============================
//$slider-btn--base: ;
//$slider-btn--hover: ;
//$slider-btn--active: ;

//$slider-toggle: ;
//$slider-toggle--active: ;
//$slider-toggle--hover: ;
//$slider-toggle--down: ;

//=============================
//===Media queries breakpoints===
//=============================
//$screen-xs:                   0;
//$screen-sm:                   480px;
//$screen-md:                   768px;
//$screen-lg:                   992px;
//$screen-xl:                   1200px;

//$tablet-width: 660px;
$desktop-width: 960px;

//=============================
//===Retina queries breakpoints===
//=============================
// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

//=============================
//===Animate===
//=============================
$transition-time: 0.15s;
//$transition-time-burger: 0.15s ;
$transition-time--show: 0.25s;
